body {
  margin: 0;
  font-family: sans-serif;
  color: white;
}

.bg {
  position: relative;
  min-height:100vh;
  background: url("images/background-mobile.png") no-repeat center/cover;
  overflow: hidden;
  padding-bottom: 80px;
}

.bg-lines {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 2;
  pointer-events: none;
}

.bg-circle {
  position: absolute;
  top: -30px;
  left: -40px;
  width: 120px;
}

.bg-squiggle-top {
  position: absolute;
  top: 20px;
  right: 0px;
  width: 120px;
}

.bg-squiggle-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 280px;
}
.container {
  position: relative;
  z-index: 2;
  padding: 24px;
}

.congrats-message{
    margin-bottom: 20px;
    margin-top: 70px;
    text-align: center;
}
.congrats-message span{
    color: hsl(7, 25%, 54%) ;
}

.email-info{
    text-align: center;
    font-size: 15px;
    letter-spacing: 1.3px;
    color: hsl(248, 22%, 80%);
}

.email-info span{
    color: hsl(7, 25%, 54%);
}

.logo{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
    margin-bottom: -20px;
    font-size: 20px;
    font-weight: bold;
}
.logo span{
    font-size: 10px;
    color: hsl(245, 15%, 58%);
}
.ticket-image{
    display: flex;
    justify-content: center;
    margin-top: 90px;
    width: 100%;
}
.ticket-card{
   position: relative;
}
.ticket-details{
    position: absolute;
    top: 5px;
    left: 20px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.avatar-preview-ticket {
    width: 50px;
    height: 50px;
    border-radius: 25%;
    object-fit: cover;
}
.info{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 30px;
    align-items: center;
}
.github-username{
    display: flex;
    flex-direction: row;
}
.right{
    position: absolute;
    right: 10px;
    top: 40px;
    font-size: 12px;
    color: hsl(245, 15%, 58%);

    writing-mode: vertical-rl; /* vertical text, top-to-bottom */
    text-orientation: upright; 
    
}
.user-details span{
 color: hsl(245, 15%, 58%);
 text-align: center;
}

@media (min-width: 1024px) {
  .bg {
    background: url("images/background-desktop.png") no-repeat center/cover;
  }
  .ticket-card{
   width: 400px;
   margin-left: 550px;
}
}

@media (min-width: 768px) and (max-width: 1024px) {
  .ticket-card{
   width: 350px;
   margin-left: 200px;
  }
}
