html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background: url("images/background-desktop.png") center/cover no-repeat fixed;
    position: relative;
    min-height: 100vh;
}