body {
  margin: 0;
  font-family: sans-serif;
  color: white;
}

.bg {
  position: relative;
  min-height:100vh;
  background: url("images/background-mobile.png") no-repeat center/cover;
  overflow: hidden;
  padding-bottom: 80px;
}

.bg-lines {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 2;
  pointer-events: none;
}

.bg-circle {
  position: absolute;
  top: -30px;
  left: -40px;
  width: 120px;
}
.bg-middle-circle{
    position: absolute;
    top: 500px;
    right:415px;
    width: 150px;
}

.bg-squiggle-top {
  position: absolute;
  top: 20px;
  right: 0px;
  width: 120px;
}

.bg-squiggle-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 280px;
}

.container {
  position: relative;
  z-index: 2;
  padding: 24px;
}
.logo{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
}
.text , .sub-text{
    text-align: center;
}
.text{
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 8px;
}
.sub-text{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
    color: hsl(245, 15%, 58%);
}
.avatar-upload {
  display: none;
}

.avatar-preview {
  display: none;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
}

.upload-title {
  display: block;
  margin-bottom: 12px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}
.upload-box {
  position: relative;
  border: 1.5px dashed rgba(255, 255, 255, 0.3);
  border-radius: 14px;
  padding: 10px 16px;
  text-align: center;
  background: rgba(221, 211, 211, 0.03);
  cursor: pointer;
}
.upload-icon {
  width: 20px;
  height: 20px;
  margin-bottom: 12px;
  background: rgba(255, 255, 255, 0.08);
  padding: 10px;
  border-radius: 10px;
}
.upload-instructions {
  display: block;
  color: rgba(255, 255, 255, 0.75);
  font-size: 14px;
}
.upload-subtext {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 8px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}
.avatar-upload-label {
  display: block;
}
.avatar-preview {
  width: 80px;
  height: 80px;
  border-radius: 25%;
  object-fit: cover;
  margin: 10px auto;
  cursor: pointer;
}
.avatar-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Change & Remove buttons */
.avatar-buttons button {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 6px 12px;
  font-size: 12px;
  border-radius: 6px;
  cursor: pointer;
}

.avatar-buttons button:hover {
  background: rgba(255, 255, 255, 0.15);
}
.name{
    margin-top: 40px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}
.input-field{
    width: 90%;
    margin-top: 8px;
    padding: 12px 16px;
    border-radius: 10px;
    border: 1px solid white;
    background: rgba(255, 219, 219, 0.05);
    color: #ffffff;
    font-size: 14px;
}
.button{
    margin-top: 50px;
    text-align: center;
}
.button button{
    width: 90%;
    padding: 16px 0;
    border-radius: 10px;
    border: none;
    background: hsl(7, 88%, 67%);
    color:hsl(248, 70%, 10%);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
@media (min-width: 1024px) {
  .bg {
    background: url("images/background-desktop.png") no-repeat center/cover;
  }
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
  }
  .bg-squiggle-bottom {
  bottom: 0;
  left: 10px;
  width: 580px;
}
}



